<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo de Maquinas - ToolBox</title>
    <link rel="stylesheet" href="maquinas.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="icon" type="image/x-icon" href="/img/logo/logo Saturn.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>

        <div class="d-flex justify-content-center">
            <a href="/views/home/index.html" class="logo">
                <img src="/img/logo/Logo Letra trazo.png" alt="logo">
            </a>

            <nav>
                <ul>
                    <li class="inicio"><a href="/views/home/index.html">Inicio</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">Productos</a>
                        <div class="dropdown-content">
                            <a href="/views/shop/Cabeza/index.html">Cabeza</a>
                            <a href="/views/shop/Candados/index.html">Candados</a>
                            <a href="/views/shop/Cuerpo/index.html">Cuerpo</a>
                            <a href="/views/shop/Escaleras/index.html">Escaleras</a>
                            <a href="/views/shop/Herramientas/index.html">Herramientas</a>
                            <a href="/views/shop/Luces/index.html">Luces</a>
                            <a href="/views/shop/Maquinas/index.html">Maquinas</a>
                            <a href="/views/shop/Pinturas/index.html">Pinturas</a>
                        </div>
                    </li>
                </ul>
            </nav>

            <form class="buscador">
                <input type="search" id="buscador" placeholder="">
            </form>

            <div class="carro">
                <a href="#" class="carrito">
                    <img src="/img/icono/carrito de compras.png" alt="carrito">
                </a>
                <div class="carro-dropdown">
                    <p>Producto 1</p>
                    <p>Producto 2</p>
                    <button>Vaciar Carrito</button>
                </div>
            </div> 

            <button class="Log-In"><a href="/views/account/login/index.html">Iniciar Sesion</a></button>
        </div>
    </header>


<div class="mainContainer">
    <div class="sidebar">
        <aside>
        
            <ul>
                <li><h5>Marcas</h5></li>
                <li class="sidebar-Li"><input type="checkbox" name="" id="checkTag">Asus</li>
                <li class="sidebar-Li"><input type="checkbox" name="" id="checkTag">Dell</li>
                <li class="sidebar-Li"><input type="checkbox" name="" id="checkTag">Acer</li>
                <li class="sidebar-Li"><input type="checkbox" name="" id="checkTag">Lenovo</li>
                <li class="sidebar-Li"><input type="checkbox" name="" id="checkTag">HP</li>
            </ul>

            <ul>
                <li><h5>Tipo</h5></li>
                <li class="sidebar-Li"><input type="checkbox" name="" id="checkTag">Escritorio</li>
                <li class="sidebar-Li"><input type="checkbox" name="" id="checkTag">Laptop</li>
                <li class="sidebar-Li"><input type="checkbox" name="" id="checkTag">All in One</li>
            </ul>

        
            <ul>
                <li><h5>RAM</h5></li>
                <li class="sidebar-Li"><input type="checkbox" name="" id="checkTag">4GB</li>
                <li class="sidebar-Li"><input type="checkbox" name="" id="checkTag">6GB</li>
                <li class="sidebar-Li"><input type="checkbox" name="" id="checkTag">8GB</li>
                <li class="sidebar-Li"><input type="checkbox" name="" id="checkTag">12GB</li>
                <li class="sidebar-Li"><input type="checkbox" name="" id="checkTag">16GB</li>
            </ul>

            <ul>
                <li><h5>Espacio</h5></li>
                <li class="sidebar-Li"><input type="checkbox" name="" id="checkTag">32gb</li>
                <li class="sidebar-Li"><input type="checkbox" name="" id="checkTag">64gb</li>
                <li class="sidebar-Li"><input type="checkbox" name="" id="checkTag">128gb</li>
                <li class="sidebar-Li"><input type="checkbox" name="" id="checkTag">256gb</li>
                <li class="sidebar-Li"><input type="checkbox" name="" id="checkTag">1tb</li>
            </ul>

            <ul>
                <li><h5>Procesador</h5></li>
                <li class="sidebar-Li">Generacion</li>
                <li class="sidebar-Li sidebarspace"><input type="checkbox" name="" id="checkTag">3ra</li>
                <li class="sidebar-Li sidebarspace"><input type="checkbox" name="" id="checkTag">4ta</li>
                <li class="sidebar-Li sidebarspace"><input type="checkbox" name="" id="checkTag">5ta</li>
                <li class="sidebar-Li sidebarspace"><input type="checkbox" name="" id="checkTag">6ta</li>
                <li class="sidebar-Li sidebarspace"><input type="checkbox" name="" id="checkTag">7ma</li>
                <li class="sidebar-Li sidebarspace"><input type="checkbox" name="" id="checkTag">8va</li>
                <li class="sidebar-Li sidebarspace"><input type="checkbox" name="" id="checkTag">9na</li>
                <li class="sidebar-Li sidebarspace"><input type="checkbox" name="" id="checkTag">10ma</li>
                <br>
                <li class="sidebar-Li">Marca</li>
                <li class="sidebar-Li sidebarspace"><input type="checkbox" name="" id="checkTag">Intel</li>
                <li class="sidebar-Li sidebarspace"><input type="checkbox" name="" id="checkTag">AMD</li>
            </ul>
        </aside>
    </div>


    <div class="container-fluid">

        <section class="product-listing">

            <div class="contenedor">            

                <div class="row pb-5 mb-4">
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <!-- Card-->
                    <div class="card rounded shadow-sm border-0">
                    <div class="card-body p-4"><img src="/img/pc/Acer Aspire TC 895.jpg" alt="" class="img-fluid d-block mx-auto mb-3">
                        <h5> <a href="#" class="text-dark">Acer Aspire TC 895</a></h5>
                        <p class="small">RAM: 12gb | i5 10400</p>
                        <p class="small">Precio: 620$</p>

                        <button class="button-1" role="button">Ver más</button>

                        <ul class="list-inline small">
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                        </ul>
                    </div>
                    </div>
                </div>
            
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <!-- Card-->
                    <div class="card rounded shadow-sm border-0">
                    <div class="card-body p-4"><img src="/img/pc/Asus ROG Strix.png" alt="" class="img-fluid d-block mx-auto mb-3">
                        <h5> <a href="#" class="text-dark">Asus ROG Strix</a></h5>
                        <p class="small">RAM: 64 | RTX4070 | Ryzen 7 7700X</p>
                        <p class="small">Precio: 980$</p>

                        <button class="button-1" role="button">Ver más</button>
                        <ul class="list-inline small">
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                        </ul>
                    </div>
                    </div>
                </div>
            
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <!-- Card-->
                    <div class="card rounded shadow-sm border-0">
                    <div class="card-body p-4"><img src="/img/pc/Asus ROG Zephyrus.jpg" alt="" class="img-fluid d-block mx-auto mb-3">
                        <h5> <a href="#" class="text-dark">Asus ROG Zephyrus</a></h5>
                        <p class="small">RAM: 16gb | i9 14900</p>
                        <p class="small">Precio: 990$</p>

                        <button class="button-1" role="button">Ver más</button>
                        <ul class="list-inline small">
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        </ul>
                    </div>
                    </div>
                </div>
            
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <!-- Card-->
                    <div class="card rounded shadow-sm border-0">
                    <div class="card-body p-4"><img src="/img/pc/Dell Inspiron.png" alt="" class="img-fluid d-block mx-auto mb-3">
                        <h5> <a href="#" class="text-dark">Dell Inspiron</a></h5>
                        <p class="small">RAM: 8 | i5 3250</p>
                        <p class="small">Precio: 350$</p>

                        <button class="button-1" role="button">Ver más</button>
                        <ul class="list-inline small">
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                        </ul>
                    </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <!-- Card-->
                    <div class="card rounded shadow-sm border-0">
                    <div class="card-body p-4"><img src="/img/pc/HP all in one AiO 22.webp" alt="" class="img-fluid d-block mx-auto mb-3">
                        <h5> <a href="#" class="text-dark">HP all in one 22</a></h5>
                        <p class="small">RAM: 4 | Ryzen 3</p>
                        <p class="small">Precio: 320$</p>

                        <button class="button-1" role="button">Ver más</button>
                        <ul class="list-inline small">
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                        </ul>
                    </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <!-- Card-->
                    <div class="card rounded shadow-sm border-0">
                    <div class="card-body p-4"><img src="/img/pc/thinkpad lenovo E16.webp" alt="" class="img-fluid d-block mx-auto mb-3">
                        <h5> <a href="#" class="text-dark">Lenovo Thinkpad E16</a></h5>
                        <p class="small">RAM: 16 | i7 1355U</p>
                        <p class="small">Precio: 570$</p>

                        <button class="button-1" role="button">Ver más</button>
                        <ul class="list-inline small">
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                        </ul>
                    </div>
                    </div>
                </div>
                </div>
                
            </div>
        </section>
    </div>
</div>

<footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Acerca de</h5>
  
          <ul class="mb-0">
            <li>
              <a href="#!" class="text-body">Nosotros</a>
            </li>
            <li>
              <a href="#!" class="text-body">Servicios</a>
            </li>
            <li>
              <a href="#!" class="text-body">Productos</a>
            </li>
            <li>
              <a href="#!" class="text-body">Inventarios</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Pagos</h5>
  
          <ul class="mb-0">
            <li>
              <a href="#!" class="text-body">Metodos de Pago</a>
            </li>
            <li>
              <a href="#!" class="text-body">Cuenta</a>
            </li>
            <li>
              <a href="#!" class="text-body">Crear cuenta</a>
            </li>
          </ul>
        </div>

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Contactos</h5>
  
          <ul>
            <li>
              <a href="https://www.whatsapp.com/?lang=es_LA" class="text-body">WhatsApp
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-whatsapp" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00b341" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
                    <path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" />
                  </svg>
              </a>
            </li>
            <li>
              <a href="https://www.google.com/intl/es-419/gmail/about/" class="text-body">Gmail
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-gmail" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff4500" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M16 20h3a1 1 0 0 0 1 -1v-14a1 1 0 0 0 -1 -1h-3v16z" />
                    <path d="M5 20h3v-16h-3a1 1 0 0 0 -1 1v14a1 1 0 0 0 1 1z" />
                    <path d="M16 4l-4 4l-4 -4" />
                    <path d="M4 6.5l8 7.5l8 -7.5" />
                  </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-body" href="/views/home/index.html">ToolBox</a>
    </div>
    <!-- Copyright -->
  </footer>
</body>
</html>
