body {
    background: rgb(236,236,236);
    background: linear-gradient(0deg, rgba(236,236,236,1) 0%, rgba(228,228,228,1) 100%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}




/*HEADER*/
header {
    background-color: #1f1616;
    color: #fff;
    padding: 0 2rem;
}

.logo a{
    display: flex;
}

.logo img{
    width: 8rem;
}

header nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    padding-left: 20px;
    margin: 0;
}
header nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
header nav ul li a:hover {
    color: #E57368;
    transition: .2s ease-in-out;
    text-decoration: none;
}
nav ul li{
    font-size: 14px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.Log-In{
    background-color: #FF6347;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    line-height: 15px;
    margin: 0;
    outline: none;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap; /* Esto evita que el texto se divida en varias líneas */
  }
.Log-In:hover{
    background-color: #E57368;
    text-decoration: none;
    transition: .5s ease-in-out;
}
.Log-In a{
    color: #fff;
    text-decoration: none;
}
.Log-In a:hover{
    color: #fff;
    text-decoration: none;
    transition: .2s ease-in-out;
}  

.product img{
    width: 200px;
}

.buscador{
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 70px;
}
.buscador input{
    width: 80%;
    height: 2.4rem;
    border-radius: 5px;
    border: #1F2833 solid 1px;
    padding-left: 20px;
    background-image: url(/img/icono/lupa.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: right;
}

.carrito img{
    width: 34px;
    margin: auto 0;
}

.carro {
    position: relative;
    display: inline-block;
    padding-right: 20px;
}

.carro-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 20px;
    z-index: 1;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
}

.carro:hover .carro-dropdown {
    display: block;
}

.carro-dropdown p {
    margin: 8px 0; /* Espacio entre los productos */
}

.carro-dropdown button {
    background-color: #f44336; /* Color del botón */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.carro-dropdown button:hover {
    background-color: #d32f2f; /* Color al hacer hover en el botón */
}

.d-flex{
    padding: 10px 0 10px 0 ;
    gap: 1rem;
    align-items: center;
}






/*MAIN*/
.mainContainer{
    display: flex;
}

.card-body{
    display: grid;
    justify-items: center;
}

.sidebar{
    background-color: #f9f9f9;
    padding: 2rem 0;
    padding-left: 1.3rem;
    position: relative;
    left: -1%;
}

ul{
    list-style: none;
    padding: 0 3rem;
}
.sidebar-Li{
    font-size: 15px;
    font-weight: 400;
}

.sidebarspace{
    display: flex;
    padding-bottom: .2rem;
}

h3{
    padding: 1rem .5rem;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0 auto;
}

.contenedor {
    background-color: #f9f9f9;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 0 .5rem;
}

.card{
    margin: .5rem;
}



.button-1 {
  background-color: #FF6347;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 22px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #E57368;
  transition: ease-in-out .2s;
}



/*FOOTER*/
footer {
    background-color: #2d1c1c;
    color: #fff;
    padding: 20px;
    text-align: center;
}