body {
    background: #bababa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*HEADER*/
header {
    background-color: #1f1616;
    color: #fff;
    padding: 0 2rem;
}
header nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    padding-left: 20px;
    margin: 0;
}
header nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
header nav ul li a:hover {
    color: #E57368;
    transition: .2s ease-in-out;
    text-decoration: none;
}
nav ul li{
    font-size: 14px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.d-flex{
    padding: 10px 0 10px 0 ;
    gap: 1rem;
    flex-wrap: wrap;
}

/*MAIN*/


/*SIDEBAR*/
.logo{
  width: 100%;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #5e3b3b;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: #fff;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #f44336;
  color: #fff;
  text-decoration: none;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #E57368;
  color: white;
  transition: .2s ease-in-out;
  text-decoration: none;
}

.Log-Out{
  background-color: #FF6347;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  width: 100%;
  text-align: left;
}
.Log-Out:hover{
  background-color: #E57368;
  transition: .2s ease-in-out;
}
.Log-Out a:hover{
  text-decoration: none;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  min-height: calc(100vh - 56px);
  box-sizing: border-box;
}

footer a{
  color: #FF6347;
}
.link:hover{
  color: #E57368;
  transition: .2s ease-in-out;
  text-decoration: none;
}



/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {

  .logo{
    width: 5rem;
  }
  .siderbar button{
    width: 10%;
  }
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    overflow-x: hidden;
  }

  .Log-Out{
    margin: 0 auto;
    margin-right: 5px;
    font-size: 13px;
  }

  .imgCarousel{
    width: 50%;
  }

  .interfaz .content{
    margin: 0;
  }

  
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }

  .Log-Out{
    margin: 0;
  }

  .imgCarousel{
    width: 50%;
  }

  .interfaz .content{
    margin: 0;
  }
}