body {
    background: rgb(229,236,236);
    background: linear-gradient(0deg, rgba(236,236,236,1) 0%, rgba(228,228,228,1) 100%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*HEADER*/
header {
    background-color: #5e3b3b;
    color: #fff;
    padding: 0 2rem;
}

.logo a{
    display: flex;
}

.logo img{
    width: 8rem;
}

header nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    padding-left: 20px;
    margin: 0;
}
header nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
header nav ul li a:hover {
    color: #E57368;
    transition: .2s ease-in-out;
    text-decoration: none;
}
nav ul li{
    font-size: 14px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.Log-In{
    background-color: #FF6347;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    line-height: 15px;
    margin: 0;
    outline: none;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap; /* Esto evita que el texto se divida en varias líneas */
  }
.Log-In:hover{
    background-color: #E57368;
    text-decoration: none;
    transition: .5s ease-in-out;
}
.Log-In a{
    color: #fff;
    text-decoration: none;
}
.Log-In a:hover{
    color: #fff;
    text-decoration: none;
    transition: .2s ease-in-out;
}  

.product img{
    width: 200px;
}

.buscador{
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 5%;
}
.buscador input{
    width: 80%;
    height: 2.4rem;
    border-radius: 5px;
    border: #1F2833 solid 1px;
    padding-left: 20px;
    background-image: url(/img/icono/lupa.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: right;
}

.carrito img{
    width: 34px;
    margin: auto 0;
}

.carro {
    position: relative;
    display: inline-block;
    padding-right: 20px;
}

.carro-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 20px;
    z-index: 1;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
}

.carro:hover .carro-dropdown {
    display: block;
}

.carro-dropdown p {
    margin: 8px 0; /* Espacio entre los productos */
}

.carro-dropdown button {
    background-color: #f44336; /* Color del botón */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.carro-dropdown button:hover {
    background-color: #d32f2f; /* Color al hacer hover en el botón */
}

.d-flex{
    padding: 10px 0 10px 0 ;
    gap: 1rem;
    align-items: center;
}




/*MAIN*/
.contenedor {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.contenedor img{
    background-size: cover;
    width: 500px;
}


.product img{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.product img:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: .1s ease-in-out;
}
.hero {
    padding-bottom: 10px;
}
.hero img{
    width: 100%;
    height: 100%
}

.hero h2 {
    font-size: 36px;
    display: flex;
    
    color: #2d1c1c;
}

.carrusel{
    margin: 0;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 5px;
    border: solid #f9f9f9 2px;
}
.carruselItem{
    width: 260px;
    height: 260px;
}
.carruselItem img{
    height: 100%;
    object-fit: cover;
}
.carruselItem:hover{
    transform: scale(1.1);
}

.recomendados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
h2{
    background-color: #fff;
    padding: 1rem;
    border-radius: 4px ;
}

.bestProducts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    margin: .6rem 0;
    text-align: center;
}
.card a{
    background-color: #f44336;
    border: none;
}
.card a:hover{
    background-color: #d32f2f;
    border: none;
}

.carousel-item{
    background-color: #5e3b3b;
}
.carousel-item img{
    width: 300px;
}


.categoria h2{
    margin-top: 10px;
}
.categoria_items{
    display: flex;
    justify-content: space-between;
}

.sobre{
    margin-bottom: 2rem;
    display: flex;
}
.sobre h1{
    text-align: left;
    padding-bottom: 1.5rem;
    padding-right: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
}
.sobre p{
    text-align: left;
    font-size: 18px;
    font-weight: 400;
}
.sobre .card img{
    width: 100%;
    margin: auto 0;
}

.FeaturedProduct{
    margin-bottom: 4rem;
}

/*FOOTER*/
footer {
    background-color: #2d1c1c;
    color: #fff;
    
}
footer a{
    color: #bababa;
}
footer a:hover{
    color: #E57368;
    text-decoration: none;
    transition: .2s ease-in;
}
.row{
    justify-content: center;
}