html {
    font-family: 'Kanit', sans-serif;
}
body {
    margin: 0px;
    background-color: #1A1A1A;

/*     background-image: url(img/Forza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

header {
    background-color: #EDEDED;
    margin: 0px;
    padding: 20px 30px 4px 40px;
    position: relative;
    box-shadow: 0px 10px 8rem;
}

/* Logo */
#logo {
    height: 65px;
    position: relative;
    bottom: 5px;
}

/* Navegation bar */
ul {
    list-style-type: none;
    font-size: 20px;
    text-align: right;
    color: #1A1A1A;
    position: absolute;
    top: 15px;
    right: 90px;
    padding: 0px;
    margin: 0 auto;
  }
li {
    display: inline;
    position: relative;
    top: 20px;
}
a {
    transition: color 0.2s ease-in;
    color: #262626;
    text-decoration: none;
}
a:hover {
    color: #595959;
}

.backimg {
    margin: 0px;
    background-image: url(img/Forza2.png);
    background-size: cover;
    height: 900px;
}
.btn {
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: #ea0c80;
    border-radius: 5px;
    text-align: center;
    height: 2.5rem;
    width: 25.5rem;
    font-size: 30px;
    position: relative;
    bottom: 25rem;
    left: 13.5rem;
    font-family: 'Kant';
    cursor: pointer;
}
.btntext {
    color: #EDEDED;
}
.btn:hover{
    background-color: #262626;
    color: #3A3A3A;
    transition: ease-in-out 0.2s;
}
.btntext:hover {
    color: #EDEDED;
}

h2 {
    margin: 0px;
    color: #1A1A1A;
    font-size: 3.5rem;
    position: relative;
}
.menu {
    margin: 0px;
    background-color: #EDEDED;
    height: 1000px;
    box-shadow: 0px -30px 8rem 30px #1A1A1A;
    padding-left: 7.5rem;
    padding-top: 3.5rem;
    padding-right: 25rem;
    font-size: 20px;
}
.background-menu {

}

.footer {
    margin: 0px;
    background-color: #1A1A1A;
    padding: 40px;
    box-shadow: 0px -1px 25px #1A1A1A;
}    
.Copyright {
    color: #EDEDED;
    text-align: right;
}